:root{
    --1:#cbf078;
    --2:#f8f398;
    --3:#f1b963;
    --4:#e46161;
}

@media screen and (max-width:660px){
    .intro div{
        padding: 0;
        margin:0.1rem;
    }
}
/*Google materials*/
.material-icons-two-tone.md-18 { font-size: 18px; }
.material-icons-two-tone.md-24 { font-size: 24px; }
.material-icons-two-tone.md-36 { font-size: 36px; }
.material-icons-two-tone.md-48 { font-size: 3rem; }

.material-icons-two-tone {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;
    transition:0.2s ease all ;
    user-select: none;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .material-icons-two-tone:hover{
      transform: translateY(-2%);
      transform: scale(1.1);
  }
#hovering{
    position: fixed;
    color:black;
    top:0;
    left:50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--2);
    padding:0.2rem;
    transition:ease all 0.2s;

}
.hovering{
    opacity: 0 !important;
}
body{
    background:white;
    color:white;
    background-repeat: no-repeat;
    background-size:100vw;
    height:90vh;
    margin:0;
    padding:2rem;
    font-family: 'Exo', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top{
    color:black;
    padding:0;
    margin:0;
}
#top *{
    padding:0.1rem;
    margin:0;
    
}
#top h1{
    font-size: 1rem;
}
#top h2{
    font-size: 0.8rem;
}
header{
    color:black;
    width:90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    
}

#startskjerm{
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    
    text-shadow: 0px 3px 2px black;
}

.intro{
    display: flex;
    flex-direction: row;
    padding:2rem;
    transition: 0.2 ease all;
}

.intro div{
    padding:2rem;
    background:var(--4);
    margin:0.1rem;
    
    height: fit-content;
    text-align:center;
    align-content:center;
    align-items:center;
    width:10rem;
    height:8rem;
}

table, tr, th, td{
    border-collapse: collapse;
    margin:0;
    border:2px solid black;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 0 0 0 ;
}
footer div{
    margin-top:1rem;
}

.visibility{
    opacity:0.5;
    
    cursor:default;
}

.active{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
}
.currentVisible{
    transition:0.2s ease all;
    
    cursor: pointer;
}
.currentVisible:hover{
    box-shadow: 0 0 16px rgba(0,0,0, 0.7);
}
#loginnEllerRegistrerSkjerm{
    color:black;
    width:90vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#brukerSide{
    color:red;
}
.showBox{
    opacity: 0;
    height:0.001rem !important;
    width:0.001rem !important;
    overflow: hidden !important;
    visibility: hidden !important;
    margin:0 !important;
    padding:0 !important;
}
.registrerLoginnFelt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}